@import "globals";

.lp {
    &,
    body {
        background: $background1;
        box-sizing: border-box;
        color: $content;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        height: 100%;
        line-height: 1.65em;
        margin: 0;
        padding: 0;
    }

    hr {
        border: none;
        border-top: 1px solid #aaa;
        margin: 25px 0;
    }

    input,
    select,
    textarea {
        color: $content;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
    }

    h2 {
        margin: 0 0 $spacingLarge;
    }

    h3 {
        margin: 0 0 $spacingMedium;
    }

    .hover {
        background: $yellow2;
    }

    .tooltip {
        background: #444;
        border: 1px solid #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        color: #fff;
        display: none;
        padding: 3px;
        position: absolute;
        z-index: 105;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
}

.lpHref {
    color: $blue1;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.lpInvisible {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.lpNotSupported {
    background: $red1;
    color: #fff;
    font-size: 24px;
    padding: 100px;
    text-align: center;
}

.lpNumber {
    text-align: right;
}

.lpAdd,
.lpCopy {
    color: $green1;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    i {
        margin-right: 5px;
    }

    &:hover {
        text-decoration: underline;
    }

    #sidebar & {
        color: $green1;
    }
}

.lpHalf {
    float: left;
    width: 50%;
}

#lp {
    background: inherit;
}

#main {
    background: inherit;
    margin: 0 auto;
    max-width: 960px;
    min-height: 100%;
    position: relative;
    text-align: left;
    transition: all $transitionDurationSlow;

    &.lpHasSidebar {
        max-width: 1280px;
    }
}

.lpRemove {
    border-radius: 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 8px;
    margin-bottom: 3px;
    opacity: 0.4;
    padding: 5px 6px 6px;
    visibility: hidden;

    &:hover {
        background: $red1;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) inset;
        opacity: 1;
    }
}

.lpHandle {
    background: url(/images/handle.png);
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    float: left;
    height: 24px;
    margin-top: 2px;
    visibility: hidden;
    width: 12px;
}

.lpAlignRight {
    text-align: right;
}

.lpLegend {
    border: 1px solid #fff;
    display: block;
    height: 10px;
    width: 10px;
}

.lpFields {
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
        background: #fff;
        border: 1px solid $border1;
        display: block;
        margin: 0 0 $spacingMedium;
        padding: $spacingSmall;
        width: 100%;

        &:focus {
            border-color: $orange1;
            outline: none;
        }
    }
}

.lpButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    > * {
        margin-bottom: $spacingMedium;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.lp .lpButton { /* TODO: find out why this specificity is needed */
    background-image: linear-gradient(165deg, $orange1 50%, $orange2 100%);
    background-position: 100% 100%;
    background-size: 200%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0) inset, 0 0 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    padding: 8px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
    width: auto;

    &.lpSmall {
        font-size: 13px;
        line-height: 16px;
        padding: 4px 7px;
    }

    &:hover:not(:disabled),
    &:active {
        background-position: 0 0;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 1px 3px darken($orange2, 25%);
    }

    &:focus,
    &:active {
        outline: none;
    }

    &:focus:not(:active) {
        box-shadow: 0 0 0 1px darken($orange2, 15%) inset, 0 1px 3px darken($orange2, 25%);
        outline: none;
    }

    &::-moz-focus-inner {
        border: none;
    }

    &:disabled,
    &.lpButtonDisabled {
        cursor: default;
        opacity: 0.5;
    }
}

.lpButtons .lpButton {
    width: 100%;
}

.lpListSummary {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lpTable {
    display: table;
    margin: 0;
    padding: 0;
}

.lpRow {
    display: table-row;

    &:first-child > .lpCell {
        border-top: none;
    }

    &.lpHeader {
        .lpCell {
            border-bottom: 1px solid #aaa;
            vertical-align: bottom;
        }

        + .lpRow .lpCell {
            border-top: none;
        }
    }
}

.lpFooter {
    .lpCell {
        border-top: 1px solid #aaa;
    }
}

.lpCell {
    border-top: 1px dotted #aaa;
    display: table-cell;
    padding: 1px 8px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.lpHeader,
.lpSubtotal {
    font-weight: 600;

    + .lpItem {
        border-top: none;
    }
}

.lpError {
    color: $red1;
}

.lpSuccess {
    color: darken($green1, 10%);
}

#lpImageDialog {
    width: auto;

    img {
        max-width: 800px;
    }
}

#lpFooter {
    color: #777;
    display: flex;
    justify-content: space-between;
    padding: 150px 0 20px;
}

#lpWelcomeFooter {
    background: rgba(255, 255, 255, 0.55);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    z-index: 999999999;

    .lpHasBlackout & {
        display: block;
    }
}

.lpLibraryList:hover .lpRemove,
.lpCategory .lpHeader:hover .lpRemove,
.lpLibraryItem:hover .lpRemove,
.lpLibraryItem:hover .lpHandle,
.lpCategory .lpHeader:hover .lpHandle {
    visibility: visible;
}
