@media print {
    body,
    #content,
    #container {
        background: #fff;
        float: none;
        margin: 0;
        width: 100%;
    }

    #topRight,
    #sidebar,
    .addCategory,
    .lpAddItem,
    .lpExpand,
    .ad,
    .noprint,
    #lpFooter,
    hr,
    #hamburger {
        display: none;
    }

    .lpHasSidebar .lpList,
    .lpListName {
        margin-left: 0;
    }

    .lpHandleCell,
    .lpItems .lpFooter > .lpCell:first-child,
    .lpRemoveCell,
    .lpActionsCell .lpLink,
    .lpActionsCell .lpCamera,
    .lpQtyCell .lpArrows { display: none !important; }

    .lpActionsCell { width: 80px !important; }
    .lpQtyCell { width: 20px !important; }
    .lpWeightCell { width: 99px !important; }
}
