.lpSprite {
    background-image: url(/images/sprite2x.png?v=2);
    background-size: 400px;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    position: relative;
    top: 2px;
    width: 14px;

    &.hidden {
        visibility: hidden;
    }
}

.lpSpriteAdd {
    background-position: 0 0;
}

.lpSpriteUpload {
    background-position: -250px 0;
}

.lpSpriteDownload {
    background-position: -250px -25px;
}

.lpSpriteCopy {
    background-position: 0 -50px;
}

.lpSpriteRemove {
    background-position: -25px 0;
    height: 8px;
    top: 0;
    width: 8px;

    .lpRemove:hover & {
        background-position: -25px -25px;
    }
}

.lpWorn {
    background-position: -50px 0;
    width: 17px;

    &.lpActive {
        background-position: -50px -25px;
    }

    &.lpWornOne {
        background-position: -50px -50px;
    }
}

.lpLinkBig {
    background-position: -75px 0;
    height: 20px;
    width: 18px;
}

.lpCamera {
    background-position: -100px 0;
    width: 18px;
}

.lpExpand {
    background-position: -125px 0;
}

.lpHamburger {
    background-position: -150px 0;
    height: 20px;
    width: 20px;
}

.lpLink {
    background-position: -175px 0;
    width: 13px;

    &.lpActive {
        background-position: -175px -25px;
    }
}

.lpUp {
    background-position: -200px 0;
    height: 7px;
    width: 7px;
}

.lpDown {
    background-position: -200px -25px;
    height: 7px;
    width: 7px;
}

.lpStar {
    background-position: -225px 0;
    height: 14px;
    width: 14px;
    &.lpStar1 { background-position: -225px -25px; }
    &.lpStar2 { background-position: -225px -50px; }
    &.lpStar3 { background-position: -225px -75px; }
}

.lpConsumable {
    background-position: -275px 0;
    width: 17px;

    &.lpActive {
        background-position: -275px -25px;
    }
}

.lpSettings {
    background-position: -300px 0;
}
