/* z-index stack */
.lpSilent {
  background: transparent;
  border: 1px solid transparent;
}
.lpSilent:hover {
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.lpSilent:focus {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}
/* Sidebar */
#sidebar {
  background: #555;
  color: #FFF;
  height: 100%;
  width: 280px;
  position: fixed;
  box-shadow: -7px 0 7px rgba(0, 0, 0, 0.2) inset;
  opacity: 0;
  margin-left: -600px;
  padding-left: 620px;
  padding-right: 20px;
  z-index: 20;
}
.lpHasSidebar #sidebar {
  opacity: 1;
}
#sidebar.lpTransition {
  transition: opacity 1s ease-in-out 0s;
}
#sidebar h1 {
  box-sizing: border-box;
  height: 60px;
  margin: 0 -20px 20px 0;
  padding: 20px 0 20px;
  position: relative;
}
#sidebar h1:before {
  background: inherit;
  border-bottom: inherit;
  bottom: -1px;
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 0;
  width: 999px;
  z-index: 10;
}
#sidebar h1 span {
  color: #AAA;
}
#sidebar section {
  position: relative;
  margin-bottom: 40px;
}
#sidebar h2 {
  font-size: 16px;
  margin: 0 0 10px;
}
#sidebar ul {
  background: #606060;
  box-sizing: content-box;
  margin: 0;
  -moz-box-sizing: content-box;
  overflow-x: hidden;
  padding: 0;
}
#sidebar .lpHref {
  color: #3DB7FF;
}
#sidebar #addListFlyout {
  position: absolute;
  right: 0;
  top: -10px;
  width: 126px;
}
#sidebar #addListFlyout .lpTarget {
  border: 1px solid transparent;
  border-bottom: none;
}
#sidebar #addListFlyout:hover .lpTarget {
  background: #444;
  border: 1px solid #999;
  border-bottom: none;
  display: block;
}
#sidebar #addListFlyout .lpContent {
  background: #444;
  border: 1px solid #999;
  border-top: none;
  left: 0;
  padding: 0 5px 5px;
}
#sidebar #addListFlyout #importList {
  padding-top: 0;
}
#scrollable {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  top: 0;
}
#scrollable > h1 {
  flex: 0 0 auto;
}
#scrollable #listContainer {
  flex: 0 0 auto;
}
#scrollable #libraryContainer {
  display: flex;
  flex: 2 0 400px;
  flex-direction: column;
}
.lpLibraryList {
  border-top: 1px dotted #999;
  list-style: none;
  margin: 0 10px 4px;
  padding: 4px 0;
  position: relative;
}
.lpLibraryList:first-child {
  padding-top: 10px;
  border-top: none;
}
.lpLibraryList::last-child {
  border-bottom: none;
}
.lpLibraryList .lpRemove {
  float: right;
}
.lpLibraryList.lpActive {
  font-weight: bold;
  color: #F2D000;
}
.lpLibraryList.lpActive .lpRemove {
  display: none;
}
.lpLibraryList .lpLibraryListSwitch:hover {
  cursor: pointer;
  text-decoration: underline;
}
#library {
  flex: 1 0 300px;
  overflow-y: scroll;
}
.lpLibraryItem {
  border-top: 1px dotted #999;
  list-style: none;
  margin: 0 10px 5px;
  min-height: 43px;
  overflow: hidden;
  padding: 5px 15px 0 5px;
  position: relative;
}
.lpLibraryItem:first-child {
  padding-top: 10px;
  border-top: none;
}
.lpLibraryItem::last-child {
  border-bottom: none;
}
.lpLibraryItem .lpName {
  float: left;
  margin: 0;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lpLibraryItem .lpDescription {
  color: #CCC;
}
.lpLibraryItem .lpWeight {
  float: right;
  width: auto;
}
.lpLibraryItem .lpDescription {
  clear: both;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 235px;
}
.lpLibraryItem .lpHandle {
  display: none;
  height: 80px;
  position: absolute;
  right: 0;
  top: 5px;
}
.lpLibraryItem .lpRemove {
  bottom: 0;
  display: none;
  position: absolute;
  right: 14px;
}
#library.lpSearching .lpLibraryItem {
  display: none;
}
#library.lpSearching .lpLibraryItem.lpHit {
  display: block;
}
#main > .lpLibraryItem {
  background: #666;
  color: #FFF;
  padding: 10px;
  width: 235px;
}
.lpLibraryItem.lpItemNotInList .lpHandle,
.lpLibraryItem.lpItemNotInList .lpRemove {
  display: block;
}
#librarySearch {
  background: #666;
  border: 1px solid #888;
  color: #FFF;
  padding: 3px 6px;
  margin-bottom: 15px;
}
#hamburger {
  cursor: pointer;
  display: inline-block;
  opacity: 0.6;
}
#hamburger:hover {
  opacity: 1;
}
.lpHasSidebar #hamburger {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* Top Nav */
#header {
  box-sizing: border-box;
  display: flex;
  height: 60px;
  margin: 0 -20px 20px;
  /*lpList padding */
  position: relative;
}
#header * {
  box-sizing: inherit;
}
#lpListName {
  font-size: 24px;
  font-weight: 600;
  padding: 12px 15px;
}
.headerItem {
  flex: 0 0 auto;
  height: 100%;
  padding: 17px 16px;
  position: relative;
}
.headerItem:first-child {
  padding-left: 20px;
}
.headerItem .lpFlyout {
  height: 100%;
}
.headerItem .lpFlyout:hover .lpTarget {
  color: #1B77D3;
}
.headerItem .lpTarget {
  font-weight: 600;
  height: 100%;
  padding: 17px 16px;
}
.headerItem .lpContent {
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translateX(-50%);
}
.headerItem .lpContent:before {
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -10px;
  transform: rotate(45deg);
  width: 20px;
  z-index: 99;
}
.headerItem .lpContent:after {
  background: #FFF;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}
.headerItem#lpListName {
  flex: 1 0 auto;
}
.headerItem.hasFlyout {
  padding: 0;
}
#csvUrl {
  display: block;
  margin-top: 15px;
}
#lpOptionalFields {
  margin: 0;
  padding: 0;
}
.lpOptionalField {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#lpPriceSettings {
  display: none;
}
.lpShowPrices #lpPriceSettings {
  display: block;
}
#lpPriceSettings input {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
}
#share .lpContent {
  width: 330px;
}
#settings .lpContent {
  width: 200px;
}
.signedOut {
  display: none;
}
/* Body */
.lpLegend:hover {
  border-color: #666;
  cursor: pointer;
}
.lpItem:hover,
.lpItem.ui-sortable-helper {
  background: #FFF;
}
.lpItem:hover .lpRemove,
.lpItem.ui-sortable-helper .lpRemove,
.lpItem:hover .lpWorn,
.lpItem.ui-sortable-helper .lpWorn,
.lpItem:hover .lpConsumable,
.lpItem.ui-sortable-helper .lpConsumable,
.lpItem:hover .lpCamera,
.lpItem.ui-sortable-helper .lpCamera,
.lpItem:hover .lpLink,
.lpItem.ui-sortable-helper .lpLink,
.lpItem:hover .lpHandle,
.lpItem.ui-sortable-helper .lpHandle,
.lpItem:hover .lpArrows,
.lpItem.ui-sortable-helper .lpArrows,
.lpItem:hover .lpStar,
.lpItem.ui-sortable-helper .lpStar {
  visibility: visible;
}
.lpItem input,
.lpItem select {
  padding: 3px;
}
.addCategory,
.lpAddItem {
  margin-left: 10px;
}
.lpQtySubtotal {
  padding-right: 25px;
  /*Accommodates delete column */
}
.lpPriceSubtotal {
  padding-right: 4px;
}
/* TODO */
#TODO {
  margin-left: -300px;
  width: 600px;
}
.high {
  color: #CE1836;
}
.medium {
  color: #A58C00;
}
.low {
  color: #7AB317;
}
.alternateAction {
  font-size: 13px;
  font-weight: normal;
  margin-left: 10px;
}
h2 .alternateAction {
  float: right;
  margin-top: 0;
}
#welcome {
  margin-left: -300px;
  margin-top: -185px;
  width: 560px;
}
#welcome .lpOr {
  position: absolute;
  left: 47%;
  top: 45%;
}
#welcome .lpHalf {
  min-height: 260px;
  padding-bottom: 30px;
  position: relative;
}
#welcome .lpHalf .lpButtons {
  position: absolute;
  bottom: 0;
  margin: 0;
}
#forgotPassword {
  margin-left: -300px;
  width: 560px;
}
#getStarted {
  background: #F7F7F7;
  font-size: 18px;
  height: 160px;
  padding: 30px 0;
  position: absolute;
  width: 100%;
  z-index: 31;
}
#getStarted h2 {
  font-size: 30px;
}
#image,
#csv {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: -999px;
}
.lpHref.close {
  margin-left: 10px;
}
.lpArrows {
  display: inline-block;
  height: 14px;
  position: relative;
  visibility: hidden;
  width: 10px;
}
.lpArrows .lpUp,
.lpArrows .lpDown {
  cursor: pointer;
  left: 0;
  opacity: 0.5;
  margin: 2px;
  position: absolute;
  top: 0;
}
.lpArrows .lpUp:hover,
.lpArrows .lpDown:hover {
  opacity: 1;
}
.lpArrows .lpDown {
  top: 11px;
}
#importValidate {
  width: 650px;
  margin-left: -350px;
  height: 500px;
  margin-top: -300px;
  overflow-y: scroll;
}
#importValidate .lpButton {
  margin-bottom: 30px;
}
#lpPickerContainer {
  background: #FFF;
  border: 1px solid #999;
  display: none;
  padding: 10px;
  position: absolute;
}
.warning {
  border: 1px solid #777;
  background: #FCEFA9;
  border-radius: 5px;
  padding: 10px;
}
#help {
  margin-left: -400px;
  width: 800px;
}
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic,
.farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color,
.farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(/images/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(/images/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(/images/marker.png) no-repeat;
}
