/* z-index stack */
.lpList {
  background: inherit;
  min-height: 100%;
  padding: 0 20px;
  position: relative;
  z-index: 30;
}
.lpHasSidebar .lpList {
  margin-left: 320px;
}
#totals {
  margin: 0;
  padding: 0 0 0 10px;
  text-align: left;
}
#chart.activeHover {
  cursor: pointer;
}
.lpCategories {
  margin: 0;
  padding: 0;
}
.lpCategory {
  border: 2px solid transparent;
  list-style: none;
  margin: 0 0 20px;
}
.lpCategory.dropAccept {
  background: #FCEFA9;
}
.lpCategory.dropHover {
  background: #A8D46F;
}
.lpCategory.gu-mirror {
  border: 1px solid #999;
  background: #F7F7F7;
}
#lpListDescription h2 {
  border-bottom: 1px solid #aaa;
}
input.lpCategoryName {
  /* specificity */
  border: 1px solid transparent;
  flex: 1 0 300px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0;
}
.lpSubtotal {
  white-space: nowrap;
  text-align: right;
}
.lpSubtotalUnit {
  border-left: 1px solid transparent;
  display: inline-block;
  padding-left: 5px;
  padding-right: 23px;
  width: 15px;
}
.lpDisplaySubtotal,
.lpTotalValue {
  padding-right: 4px;
}
.lpItems {
  margin: 0;
  padding: 0;
  width: 100%;
}
.lpItem,
.lpItemsHeader,
.lpItemsFooter {
  align-items: center;
  border-top: 1px dotted #AAA;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.lpItem.gu-mirror,
.lpItemsHeader.gu-mirror,
.lpItemsFooter.gu-mirror {
  border: 1px solid #999;
  background: #F7F7F7;
}
.lpItem .lpHandleCell,
.lpItemsHeader .lpHandleCell,
.lpItemsFooter .lpHandleCell {
  flex: 0 0 12px;
  padding-right: 4px;
}
.lpItem .lpImageCell,
.lpItemsHeader .lpImageCell,
.lpItemsFooter .lpImageCell {
  flex: 0 0 90px;
  text-align: center !important;
}
.lpItem .lpImageCell .lpItemImage,
.lpItemsHeader .lpImageCell .lpItemImage,
.lpItemsFooter .lpImageCell .lpItemImage {
  cursor: pointer;
  position: relative;
  top: 3px;
  object-fit: cover;
  min-width: 48px;
  max-width: 90px;
  height: 48px;
}
.lpItem .lpName,
.lpItemsHeader .lpName,
.lpItemsFooter .lpName {
  flex: 1 1 150px;
  margin-right: 4px;
  min-width: 50px;
}
.lpItem .lpDescription,
.lpItemsHeader .lpDescription,
.lpItemsFooter .lpDescription {
  flex: 2 0 200px;
  margin-right: 4px;
  min-width: 100px;
}
.lpItem .lpActionsCell,
.lpItemsHeader .lpActionsCell,
.lpItemsFooter .lpActionsCell {
  align-self: center;
  flex: 0 0 130px;
}
.lpItem .lpWeightCell,
.lpItemsHeader .lpWeightCell,
.lpItemsFooter .lpWeightCell {
  flex: 0 0 110px;
}
.lpItem .lpWeightCell .lpWeight,
.lpItemsHeader .lpWeightCell .lpWeight,
.lpItemsFooter .lpWeightCell .lpWeight {
  width: 50px;
}
.lpItem .lpPriceCell,
.lpItemsHeader .lpPriceCell,
.lpItemsFooter .lpPriceCell {
  flex: 0 0 66px;
  margin-right: 4px;
}
.lpItem .lpPriceCell .lpPrice,
.lpItemsHeader .lpPriceCell .lpPrice,
.lpItemsFooter .lpPriceCell .lpPrice {
  width: 66px;
}
.lpItem .lpQtyCell,
.lpItemsHeader .lpQtyCell,
.lpItemsFooter .lpQtyCell {
  flex: 0 0 60px;
}
.lpItem .lpQtyCell .lpQty,
.lpItemsHeader .lpQtyCell .lpQty,
.lpItemsFooter .lpQtyCell .lpQty {
  width: 39px;
}
.lpItem .lpRemoveCell,
.lpItemsHeader .lpRemoveCell,
.lpItemsFooter .lpRemoveCell {
  align-self: center;
  flex: 0 0 20px;
}
.lpItem .lpCategoryName,
.lpItemsHeader .lpCategoryName,
.lpItemsFooter .lpCategoryName {
  /* Header */
  flex: 1 1 auto;
}
.lpItem .lpAddItemCell,
.lpItemsHeader .lpAddItemCell,
.lpItemsFooter .lpAddItemCell {
  /* Footer */
  flex: 1 1 auto;
}
.lpItemsHeader {
  align-items: flex-end;
  border-bottom: 1px solid #AAA;
  border-top: none;
  height: 31px;
}
.lpItemsFooter {
  border-top-style: solid;
  justify-content: flex-end;
}
.lpActionsCell .lpWorn,
.lpActionsCell .lpConsumable,
.lpActionsCell .lpCamera,
.lpActionsCell .lpLink,
.lpActionsCell .lpStar {
  cursor: pointer;
  margin-right: 8px;
  opacity: 0.5;
  visibility: hidden;
}
.lpActionsCell .lpWorn:hover,
.lpActionsCell .lpConsumable:hover,
.lpActionsCell .lpCamera:hover,
.lpActionsCell .lpLink:hover,
.lpActionsCell .lpStar:hover {
  opacity: 1;
}
.lpActionsCell .lpWorn.lpActive,
.lpActionsCell .lpConsumable.lpActive,
.lpActionsCell .lpCamera.lpActive,
.lpActionsCell .lpLink.lpActive,
.lpActionsCell .lpStar.lpActive,
.lpActionsCell .lpWorn.lpStar1,
.lpActionsCell .lpConsumable.lpStar1,
.lpActionsCell .lpCamera.lpStar1,
.lpActionsCell .lpLink.lpStar1,
.lpActionsCell .lpStar.lpStar1,
.lpActionsCell .lpWorn.lpStar2,
.lpActionsCell .lpConsumable.lpStar2,
.lpActionsCell .lpCamera.lpStar2,
.lpActionsCell .lpLink.lpStar2,
.lpActionsCell .lpStar.lpStar2,
.lpActionsCell .lpWorn.lpStar3,
.lpActionsCell .lpConsumable.lpStar3,
.lpActionsCell .lpCamera.lpStar3,
.lpActionsCell .lpLink.lpStar3,
.lpActionsCell .lpStar.lpStar3 {
  opacity: 1;
  visibility: visible;
}
.lpActionsCell i:last-child {
  margin-right: 0;
}
.lpHeader .lpWeightCell,
.lpHeader .lpQtyCell,
.lpHeader .lpPriceCell {
  text-align: center;
}
