.lpCategoryName {
  font-size: 18px;
  margin: 0;
}
.lpItem:hover {
  background: #FFF;
}
.lpItem .lpActionsCell {
  flex-basis: 75px;
}
.lpItem.lpItemHasImage .lpImageCell {
  padding-right: 5px;
}
#lpListDescription {
  margin: 30px 0;
}
@media only screen and (max-width: 720px) {
  .lpChart {
    max-width: 100%;
  }
  .lpItems {
    position: relative;
  }
  .lpItems .lpWeightCell {
    flex-basis: 100px;
  }
  .lpItems .lpPriceCell {
    flex-basis: 65px;
  }
  .lpItems .lpHeader .lpWeightCell,
  .lpItems .lpHeader .lpPriceCell,
  .lpItems .lpHeader .lpQtyCell {
    display: none;
  }
  .lpItems .lpFooter {
    justify-content: flex-end;
  }
  .lpItems .lpFooter .lpQtyCell {
    display: none;
  }
  .lpItem {
    align-items: baseline;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 3px 0;
  }
  .lpShowImages .lpItem.lpItemHasImage {
    min-height: 48px;
    padding-left: 60px;
    position: relative;
  }
  .lpShowImages .lpItem.lpItemHasImage .lpImageCell {
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
  }
  .lpShowImages .lpItem.lpItemHasImage .lpImageCell img {
    object-fit: cover;
    height: 48px;
    width: 48px;
  }
  .lpItem .lpImageCell {
    flex-basis: 0;
  }
  .lpItem .lpName {
    font-weight: bold;
    order: 2;
    flex-basis: 90px;
  }
  .lpItem .lpDescription {
    flex-basis: calc(100% - 50px);
    /* Always wrap*/
  }
  .lpItem .lpQtyCell {
    flex-basis: auto;
    order: 1;
  }
  .lpItem .lpQtyCell[qty1] {
    display: none;
  }
  .lpItem .lpQtyCell:after {
    content: " x ";
    margin-right: 5px;
    display: inline;
  }
  .lpItem .lpPriceCell {
    order: 4;
  }
  .lpItem .lpWeightCell {
    order: 5;
  }
  .lpItem .lpDescription {
    order: 98;
  }
  .lpItem .lpActionsCell {
    flex: 0 0 auto;
    order: 99;
    padding: 0 10px;
    text-align: right;
  }
  .lpItem .lpActionsCell .lpHidden,
  .lpItem .lpActionsCell i:not(.lpActive) {
    display: none;
  }
  #lpImageDialog {
    padding: 5px;
    width: 90%;
  }
  #lpImageDialog img {
    display: block;
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .lpListSummary {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .lpChartContainer {
    max-width: 200px;
  }
}
