<!DOCTYPE html>
<html class="lp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="/fonts/open-sans-latin.woff2" as="font" type="font/woff2" crossorigin />
        {{{styles}}}
        <link rel="shortcut icon" href="/favicon.png" />
        <title>{{title}} - LighterPack</title>
        <meta name="description" content="{{description}}">
    </head>
    <body>
        <main class="lpDoc">
            {{{content}}}
            <div class="lpDocFooter">
                <a href="/">Back to LighterPack</a>
                -
                <a href="{{{siblingPath}}}">{{siblingTitle}}</a>
            </div>
        </main>
    </body>
</html>
