<div class="lpList lp">
	<link href="http://lighterpack.com/common.css" rel="stylesheet" type="text/css" />
    <h2 class="lpListName" >{{listName}}</h2>
    <div class="lpHalf lpAlignRight">
        <canvas class="lpChart" height="260" width="260"></canvas>
    </div>
    <div class="lpHalf lpAlignLeft">
        {{{renderedTotals}}}
    </div>

    <div style="clear:both"></div>

    <ul class="lpCategories">{{{renderedCategories}}}</ul>
</div>
<div class="lpDialog" id="lpImageDialog"></div>
<div id="lpModalOverlay"></div>