<!DOCTYPE html>
<html class="lp">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />
        <link href="/css/common.css?v=4" rel="stylesheet" type="text/css" />
        <link href="/css/edit.css?v=4" rel="stylesheet" type="text/css" />
        <link href="/css/print.css?v=4" rel="stylesheet" type="text/css" media="print" />
        <link rel="shortcut icon" href="/favicon.png" />
        <title>LighterPack</title>
    </head>
    <body>
        <!--[if lte IE 8]><div class="lpNotSupported">Whoops! It looks like you're using a rather old web browser. Please upgrade to a more recent version of Internet Explorer, Firefox, or Chrome.</div><![endif]-->
        <div id="main" class="lpHasSidebar">
            <div id="sidebar">
                <div id="scrollable">
                    <h1>LighterPack <span>(beta)</span></h1>

                    <section id="listContainer">
                        <h2>Lists</h2>
                        <span id="addListFlyout" class="lpFlyout">
                            <span class="lpTarget"><a id="addList" href="#" class="lpAdd"><i class="lpSprite lpSpriteAdd"></i>Add new list</a></span>
                            <div class="lpContent">
                                <div><a href="#" id="importList" class="lpAdd"><i class="lpSprite lpSpriteUpload"></i>Import CSV</a></div>
                                <div><a href="#" id="copyList" class="lpCopy"><i class="lpSprite lpSpriteCopy"></i>Copy a list</a></div>
                            </div>
                        </span>

                        <ul id="lists"></ul>
                    </section>

                    <section id="libraryContainer">
                        <h2>Gear</h2>
                        <div>
                            <input type="checkbox" id="librarySearchFilter" name="librarySearchFilter" />
                            <label for="librarySearchFilter">Include Active Items</label>
                        </div>
                        <input type="text" id="librarySearch" placeholder="search items"/>
                        <ul id="library" class="lpHideActive"></ul>
                    </section>
                </div>
            </div>
            <div class="lpList">
                <div id="header" class="clearfix">
                    <span class="headerItem">
                        <a id="hamburger"><i class="lpSprite lpHamburger"></i></a>
                    </span>
                    <input id="lpListName" type="text" class="lpListName lpSilent headerItem" value="New List" placeholder="List Name" autocomplete="off" name="lastpass-disable-search"/>
                    <span class="headerItem hasFlyout signedIn">
                        <span id="share" class="lpFlyout">
                            <span class="lpTarget"><i class="lpSprite lpLink"></i> Share</span>
                            <div class="lpContent">
                                <h3>Share your list</h3>
                                <input type="text" id="shareUrl" />
                                <h3>Embed your list</h3>
                                <textarea id="embedUrl"></textarea>
                                <a href="#"  id="csvUrl" target="_blank" class="lpHref"><i class="lpSprite lpSpriteDownload"></i>Export to CSV</a>
                            </div>
                        </span>
                    </span>
                    <span id="settings" class="headerItem hasFlyout signedIn">
                        <span class="lpFlyout">
                            <span class="lpTarget"><i class="lpSprite lpSettings"></i> Settings</span>
                            <div class="lpContent">
                                <ul id="lpOptionalFields"></ul>
                                <div id="lpPriceSettings">
                                    <hr />
                                    <label>
                                        Currency:
                                        <input id="currencySymbol" type="text" maxlength="4"/>
                                    </label>
                                </div>
                            </div>
                        </span>
                    </span>
                    <span id="account" class="headerItem hasFlyout signedIn">
                        <span class="lpFlyout">
                            <span class="lpTarget">Signed in as <span class="username"></span> <i class="lpSprite lpExpand"></i></span>
                            <div class="lpContent">
                                <a href="#" class="lpHref accountSettings">Account Settings</a><br />
                                <a href="#" class="lpHref help">Help</a><br />
                                <a class="lpHref" id="showTODO" href="#">Bugs / TODO</a><br />
                                <a href="#" class="lpHref signout">Sign Out</a>
                            </div>
                        </span>
                    </span>
                    <span class="headerItem signedOut">
                        <a href="#" class="lpButton lpSmall showRegister">Register</a> or <a href="#" class="lpButton lpSmall showSignin">Sign In</a>
                    </span>
                    <span class="clearfix"></span>
                </div>

                <div id="getStarted">
                    <h2>Welcome to LighterPack!</h2>
                    <p>Here's what you need to get started:</p>
                    <ol>
                        <li>Click on things to edit them. Give your list and category a name.</li>
                        <li>Add new categories and items to your list.</li>
                        <li>When you're done, share your list with others!</li>
                    </ol>
                </div>
                <div class="lpListSummary">
                    <div class="lpChartContainer">
                        <canvas class="lpChart" height="260" width="260"></canvas>
                    </div>
                    <div class="lpTotalsContainer">
                        {{{renderedTotals}}}
                    </div>
                </div>

                <div style="clear:both"></div>

                <div id="listDescriptionContainer">
                    <h3>List Description</h3> <p>(<a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Markdown</a> supported)</p>
                    <textarea id="listDescription"></textarea>
                </div>

                <ul class="lpCategories"></ul>
                <hr />
                <a href="#" class="lpAdd addCategory"><i class="lpSprite lpSpriteAdd"></i>Add new category</a>
                <form id="csvUpload">
                    <input type="file" name="csv" id="csv" />
                </form>
                <div id="lpPickerContainer"><div id="lpPicker"></div></div>
                <div id="lpFooter">
                    <div class="lpSiteBy">Site by <a class="lpHref" href="http://www.galenmaly.com/">Galen Maly</a></div>
                    <div class="lpContact">
                        Copyleft LighterPack 2016
                        -
                        <a class="lpHref" href="https://github.com/galenmaly/lighterpack">Fork me on GitHub</a>
                        -
                        <a class="lpHref" href="mailto:info@lighterpack.com">Contact</a></div>
                </div>
            </div>
        </div>
        <div class="lpDialog sticky" id="welcome">
            <h2><strong>LighterPack</strong> helps you track the gear you bring on adventures.</h2>
            <div class="columns">
                <div class="lpHalf">
                    <h3>Register an Account</h3>
                    <form class="register">
                        <div class="lpError"></div>
                        <input type="text" placeholder="Username" name="username" class="username"/>
                        <input type="email" placeholder="Email" name="email" class="email"/>
                        <input type="password" placeholder="Password" name="password" class="password"/>
                        <input type="password" placeholder="Confirm Password" name="passwordConfirm" class="passwordConfirm"/>
                        <div class="lpButtons">
                            <input type="submit" value="Register" class="lpButton" />
                            <a class="lpHref lpGetStarted" href="#">Skip Registration</a>
                            <span class="status"></span>
                            <a class="lpHref alternateAction" href="#signin">Already registered?</a>
                        </div>
                    </form>
                </div>
                <div class="lpHalf">
                    <ul id="lpValueProp">
                        <li id="valueEnter">
                            <h3>Enter your packing lists</h3>
                        </li>
                        <li id="valueVisualize">
                            <h3>Visualize your pack weights</h3>
                            <canvas class="valueChart" height="100" width="100"></canvas>
                        </li>
                        <li id="valueShare">
                            <h3>Share your lists with others</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="lpWelcomeFooter">
            <div class="lpSiteBy">Site by <a class="lpHref" href="http://www.galenmaly.com/">Galen Maly</a></div>
            <div class="lpContact">
                Copyleft LighterPack 2016
                -
                <a class="lpHref" href="https://github.com/galenmaly/lighterpack">Fork me on GitHub</a>
                -
                <a class="lpHref" href="mailto:info@lighterpack.com">Contact</a></div>
            </div>
        </div>
        <div class="lpDialog" id="register">
            <h2>
                Register an Account
                <a class="lpHref alternateAction" href="#signin">Already registered?</a>
            </h2>

            <span class="info existingData">
                Your existing data will be saved to your new account upon creation.
            </span>
            <form class="register">
                <div class="lpError"></div>
                <input type="text" placeholder="Username" name="username" class="username"/>
                <input type="email" placeholder="Email" name="email" class="email"/>
                <input type="password" placeholder="Password" name="password" class="password"/>
                <input type="password" placeholder="Confirm Password" name="passwordConfirm" class="passwordConfirm"/>
                <input type="submit" value="Register" class="lpButton" />
                <span class="status"></span>
            </form>
        </div>
        <div class="lpDialog" id="signin">
            <h2>
                Sign in
                <a class="lpHref alternateAction" href="#register">Need to register?</a>
            </h2>

            <p class="lpSuccess"></p>
            <form class="signin">
                <div class="lpError"></div>
                <input type="text" placeholder="Username" name="username" class="username"/>
                <input type="password" placeholder="Password" name="password" class="password"/>
                <input type="submit" value="Sign in" class="lpButton" />
                <span class="status"></span>
                <a class="lpHref alternateAction" href="#forgotPassword">Forgot username/password?</a>
            </form>
        </div>
        <div class="lpDialog" id="forgotPassword">
            <div class="columns">
                <div class="lpHalf">
                    <h3>
                        Forgot Your Password?
                    </h3>

                    <p>If you've forgotten your password we will email you a new one. Please enter your username.</p>
                    <form class="forgotPassword">
                        <div class="lpError"></div>
                        <input type="text" placeholder="Username" name="username" class="username"/>
                        <input type="submit" value="Submit" class="lpButton" />
                        <span class="status"></span>
                        <a class="lpHref alternateAction" href="#signin">Return to sign in</a>
                    </form>
                </div>
                <div class="lpHalf">
                    <h3>
                        Forgot Your Username?
                    </h3>

                    <p>If you've forgotten your username we will email it to you. Please enter your email address.</p>
                    <form class="forgotUsername">
                        <div class="lpError"></div>
                        <input type="text" placeholder="Email Address" name="email" class="email"/>
                        <input type="submit" value="Submit" class="lpButton" />
                        <span class="status"></span>
                        <a class="lpHref alternateAction" href="#signin">Return to sign in</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="lpDialog" id="accountSettings">
            <h2>Account Settings</h2>

            <form id="accountForm">
                <div class="lpError"></div>
                <input type="text" name="username" class="username" disabled />
                <input type="password" placeholder="Current Password" name="currentPassword" class="currentPassword"/>
                <hr>
                <input type="email" placeholder="New Email" name="newEmail" class="newEmail" />
                <hr>
                <input type="password" placeholder="New Password" name="newPassword" class="newPassword"/>
                <input type="password" placeholder="Confirm New Password" name="confirmNewPassword" class="confirmNewPassword"/>

                <input type="submit" value="Submit" class="lpButton" />
                <a href="#" class="lpHref close">Cancel</a>
                <span class="status"></span>
            </form>
        </div>
        <div class="lpDialog" id="lpImageDialog">
        </div>
        <div class="lpDialog" id="itemImageDialog">
            <div class="columns">
                <div class="lpHalf">
                    <h2>Add image by URL</h2>
                    <form id="itemImageUrlForm">
                        <input type="text" id="itemImageUrl" placeholder="Image URL"/>
                        <input type="submit" class="lpButton" value="Save" />
                        <a href="#" class="lpHref close">Cancel</a>
                    </form>
                </div>
                <div class="lpHalf">
                    <h2>Upload image from disk</h2>
                    <p class="imageUploadDescription">Your image will be hosted on imgur.</p>
                    <button class="lpButton" id="itemImageUpload">Upload Image</button>
                    <a href="#" class="lpHref close">Cancel</a>
                    <p id="uploadingText" style="display:none;">Uploading image...</p>
                    <form id="imageUpload">
                        <input type="file" name="image" id="image" />
                    </form>
                </div>
            </div>
        </div>
        <div class="lpDialog" id="itemLinkDialog">
            <h2>Add a link for this item</h2>
            <form id="itemLinkForm">
                <input type="text" id="itemLink" placeholder="Item Link"/>
                <input type="submit" class="lpButton" value="Save" />
                <a href="#" class="lpHref close">Cancel</a>
            </form>
        </div>
        <div class="lpDialog" id="importValidate">
            <h2>Confirm your import</h2>
            <div id="importData"></div>
            <a href="#" class="lpButton" id="importConfirm">Import List</a>
            <a href="#" class="lpButton close">Cancel Import</a>
        </div>
        <div class="lpDialog" id="copyListDialog">
            <h2>Choose the list to copy</h2>
            <select id="listToCopy"></select><br /><br />
            <p class="warning"><b>Note:</b> copying a list will link the items between your lists. Updating an item in one list will alter that item in all other lists that item is in.</p>
            <a href="#" class="lpButton" id="copyConfirm">Copy List</a>
            <a href="#" class="lpButton close">Cancel</a>
        </div>
        <div class="lpDialog" id="help">
            <h2>Help</h2>

            <p>Getting Started:</p>
            <ol>
                <li>Click on things to edit them. Give your list and category a name.</li>
                <li>Add new categories and items to your list.</li>
                <li>When you're done, share your list with others!</li>
            </ol>
            <hr>
            <strong>Quantity and worn values</strong>
            <p>If you have multiple quantity of an item and mark that item as worn, only the first quantity will count towards your worn weight. The rest will count towards your pack weight. This is because most items you have multiple of, you only wear one at once. This means you can't list your shoes/trekking poles with weights as individual weights and quantity of two - you should list as the combined weight with quantity of one.</p>
            <hr>
            <strong>Items in multiple lists</strong>
            <p>If you copy your list or drag an item from the gear library into a second list, those items are now <strong>linked</strong>. This means that changes to an item in one place will update that list everywhere. If you want to copy your list without links, for now you can export to CSV and re-import the list.</p>
            <hr />
            <p><a class="lpHref" href="mailto:info@lighterpack.com">More help available via email.</a></p>
        </div>
        <div class="lpDialog" id="TODO">
            <div class="lpContent">
                <p><a class="lpHref" href="mailto:info@lighterpack.com">Found a bug not here? Email me!</a></p>
                <h2>Known Bugs</h2>
                <ul>
                    <li>Sometimes a section of the pie chart gets "stuck" as hovered (workaround: mouse over empty area near pie chart)</li>
                    <li>Sometimes the gear section on the left freaks out and you can't drag from it or scroll in it. (don't know how to reproduce)</li>
                </ul>

                <h2>TODO Features</h2>
                <ul>
                    <li class="medium">Add utility to convert all items to a certain unit.</li>
                    <li class="medium">Guided "tour" for new users</li>
                    <li class="medium">Support for mobile devices</li>
                    <li class="medium">Make qty/weight validation nicer</li>
                    <li class="low">Collapse categories</li>
                    <li class="low">Add progress bar / spinner for file uploads</li>
                    <li class="low">Gear sorting?</li>
                    <li class="low">Better accomodate long names.</li>
                </ul>
            </div>
        </div>
        <div id="lpModalOverlay"></div>
        <script type="text/html" id="unitSelect">{{{t_unitSelect}}}</script>
        <script type="text/html" id="categoryTemplate">{{{t_categoryEdit}}}</script>
        <script type="text/html" id="itemTemplate">{{{t_itemEdit}}}</script>
        <script type="text/html" id="libraryItem">{{{t_libraryItem}}}</script>
        <script type="text/html" id="libraryListTemplate">{{{t_libraryList}}}</script>
        <script type="text/html" id="totalsTemplate">{{{t_totals}}}</script>
        <script type="text/html" id="importValidateTemplate">{{{t_importValidate}}}</script>
        <script type="text/html" id="optionalFieldsTemplate">{{{t_optionalFields}}}</script>
        <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="/js/farbtastic.js"></script>
        <script type="text/javascript" src="/js/mustache.js"></script>
        <script type="text/javascript" src="/js/sha3.js"></script>
        <script type="text/javascript" src="/js/pies.js?v=4"></script>
        <script type="text/javascript" src="/js/dataTypes.js?v=4"></script>
        <script type="text/javascript" src="/js/edit.js?v=4"></script>
    </body>
</html>
