<!DOCTYPE html>
<html class="lp">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />
        {{{styles}}}
        <link rel="shortcut icon" href="/favicon.png" />
        <style>.lpModalOverlay, #lpImageDialog { display: none;}</style>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
    </head>
    <body>
        <div id="main" class="lpShare">
            <div class="lpList {{#optionalFields.images}}lpShowImages{{/optionalFields.images}} {{#optionalFields.worn}}lpShowWorn{{/optionalFields.worn}} {{#optionalFields.consumable}}lpShowConsumable{{/optionalFields.consumable}} {{#optionalFields.price}}lpShowPrices{{/optionalFields.price}}">
                <h1 class="lpListName">{{listName}}</h1>
                <div class="lpListSummary">
                    <div class="lpChartContainer">
                        <canvas class="lpChart" height="260" width="260"></canvas>
                    </div>
                    <div class="lpTotalsContainer">
                        {{{renderedTotals}}}
                    </div>
                </div>

                <div style="clear:both"></div>

                {{#renderedDescription}}
                    <div id="lpListDescription">
                        {{{renderedDescription}}}
                    </div>
                {{/renderedDescription}}

                <ul class="lpCategories">{{{renderedCategories}}}</ul>
            </div>
        </div>
        <div class="lpDialog" id="lpImageDialog"></div>
        <div class="lpModalOverlay"></div>
        {{{scripts}}}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/pies.js?v=4"></script>
        <script type="text/javascript" src="/js/share.js?v=4"></script>
        <script type="text/javascript">chartData="{{{chartData}}}";</script>
    </body>
</html>