<!DOCTYPE html>
<html class="lp">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />
        <link href="/common.css?v=2" rel="stylesheet" type="text/css" />
        <link href="/share.css?v=2" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.png" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/pies.js"></script>
        <script type="text/javascript" src="/dataTypes.js"></script>
        <script type="text/javascript" src="/share.js"></script>
        <script type="text/javascript">chartData="{{{chartData}}}";</script>
    </head>
    <body>
        <div id="main" class="">
            <div class="lpList">
                <h1 class="lpListName" >{{listName}}</h1>
                <div class="lpHalf lpAlignRight">
                    <canvas class="lpChart" height="260" width="260"></canvas>
                </div>
                <div class="lpHalf lpAlignLeft">
                    {{{renderedTotals}}}
                </div>

                <div style="clear:both"></div>

                <ul class="lpCategories">{{{renderedCategories}}}</ul>
            </div>
        </div>
        <div class="lpDialog" id="lpImageDialog"></div>
        <div id="lpModalOverlay"></div>
    </body>
</html>