<li class="lpCategory" id="{{id}}">
    <ul class="lpItems lpDataTable">
        <li class="lpHeader lpItemsHeader">
            <span class="lpCategoryHead">
                {{#displayColor}}<span class="lpCategorySwatch" style="background: {{displayColor}}"></span>{{/displayColor}}
                <h2 class="lpCategoryName">{{name}}</h2>
            </span>
            {{#showPrices}}<span class="lpPriceCell lpNumber lpSubtotal">{{currencySymbol}}{{subtotalPriceDisplay}}</span>{{/showPrices}}
            <span class="lpWeightCell lpNumber lpSubtotal"><span class="lpDisplaySubtotal" mg="{{subtotalWeight}}">{{subtotalWeightDisplay}}</span> <span class="lpSubtotalUnit">{{subtotalUnit}}</span></span>
            <span class="lpQtyCell lpNumber lpSubtotal"><span class="lpQtySubtotal">{{subtotalQty}}</span></span>
        </li>
        {{{items}}}
    </ul>
</li>
