<li class="lpCategory" id="{{id}}">
    <ul class="lpItems lpDataTable">
        <li class="lpHeader lpItemsHeader">
            <span class="lpHandleCell">
                <div class="lpHandle lpCategoryHandle" title="Reorder this category"></div>
            </span>
            <input type="text" value="{{name}}" placeholder="Category Name" class="lpCategoryName lpSilent"/>
            <span class="lpWeightCell">Weight</span>
            <span class="lpQtyCell">qty</span>
            <span class="lpRemoveCell"><a class="lpRemove lpRemoveCategory speedbump" title="Remove this category" data-speedbump="removeCategory"><i class="lpSprite lpSpriteRemove"></i></a></span>
        </li>
        {{{items}}}
        <li class="lpFooter lpItemsFooter">
            <span class="lpAddItemCell">
                <a href="#" class="lpAdd lpAddItem"><i class="lpSprite lpSpriteAdd"></i>Add new item</a>
            </span>
            <span class="lpWeightCell lpNumber"><div class="lpSubtotal"><span class="lpDisplaySubtotal">{{displaySubtotal}}</span> <span class="lpSubtotalUnit">{{subtotalUnit}}</span></div></span>
            <span class="lpQtyCell"><div class="lpSubtotal"><span class="lpQtySubtotal">{{qtySubtotal}}</span></div></span>
            <span class="lpRemoveCell"></span>
        </li>
    </ul>
</li>