<ul class="lpTable lpDataTable">
    <li class="lpRow lpHeader">
        <span class="lpCell">Item Name</span>
        <span class="lpCell">Category</span>
        <span class="lpCell">Description</span>
        <span class="lpCell">Qty</span>
        <span class="lpCell">Weight</span>
        <span class="lpCell">Unit</span>
    </li>
    {{#data}}
        <li class="lpRow">
            <span class="lpCell">{{name}}</span>
            <span class="lpCell">{{category}}</span>
            <span class="lpCell">{{description}}</span>
            <span class="lpCell">{{qty}}</span>
            <span class="lpCell">{{weight}}</span>
            <span class="lpCell">{{unit}}</span>
        </li>
    {{/data}}
</ul>