<li class="lpItem {{classes}}" id="{{id}}">
    <span class="lpHandleCell">
        <div class="lpItemHandle lpHandle" title="Reorder this item"></div>
    </span>
    <span class="lpImageCell">
        {{#image}}
            <img class="lpItemImage" src="https://i.imgur.com/{{image}}s.jpg" />
        {{/image}}
        {{^image}}
            {{#imageUrl}}
                <img class="lpItemImage" src="{{imageUrl}}" />
            {{/imageUrl}}
        {{/image}}
    </span>
    <input type="text" value="{{name}}" class="lpName lpSilent" placeholder="Name" />
    <input type="text" value="{{description}}" class="lpDescription lpSilent" placeholder="Description" />
    <span class="lpActionsCell">
        <i class="lpSprite lpCamera" title="Upload a photo or use a photo from the web"></i>

        {{#url}}
            <i class="lpSprite lpLink lpActive" title="Add a link for this item"></i>
        {{/url}}
        {{^url}}
            <i class="lpSprite lpLink" title="Add a link for this item"></i>
        {{/url}}


        {{#worn}}
            <i class="lpSprite lpWorn lpActive" title="Mark this item as worn"></i>
        {{/worn}}
        {{^worn}}
            <i class="lpSprite lpWorn" title="Mark this item as worn"></i>
        {{/worn}}

        {{#consumable}}
            <i class="lpSprite lpConsumable lpActive" title="Mark this item as a consumable"></i>
        {{/consumable}}
        {{^consumable}}
            <i class="lpSprite lpConsumable" title="Mark this item as a consumable"></i>
        {{/consumable}}

        <i class="lpSprite lpStar {{starClass}}" title="Star this item"></i>
    </span>
    <span class="lpPriceCell">
        <input type="text" value="{{price}}" class="lpPrice lpNumber lpSilent" />
    </span>
    <span class="lpWeightCell lpNumber">
        <input type="text" value="{{displayWeight}}" class="lpWeight lpNumber lpSilent" />
        {{{unitSelect}}}
    </span>
    <span class="lpQtyCell">
        <input type="text" value="{{qty}}" class="lpQty lpNumber lpSilent" />
        <span class="lpArrows">
            <span class="lpSprite lpUp"></span>
            <span class="lpSprite lpDown"></span>
        </span>
    </span>
    <span class="lpRemoveCell">
        <a class="lpRemove lpRemoveItem" title="Remove this item"><i class="lpSprite lpSpriteRemove"></i></a>
    </span>
</li>
