<li class="lpRow lpItem {{classes}}" id="{{id}}">
    <span class="lpCell lpImageCell">
        {{#image}}
            <img class="lpItemImage" src="https://i.imgur.com/{{image}}s.jpg" href="https://i.imgur.com/{{image}}l.jpg"/>
        {{/image}}
    </span>
    <span class="lpCell lpNameCell">
        {{#url}}
            <a href="{{url}}" class="lpHref">
        {{/url}}

        {{name}}

        {{#url}}
            </a>
        {{/url}}
    </span>
    <span class="lpCell lpDescriptionCell">
        {{description}}
    </span>
    <span class="lpCell lpActionsCell">
        <i class="lpSprite lpWorn lpActive {{wornClass}} {{^worn}}hidden{{/worn}}" title="This item is worn and not counted in pack weight."></i>
        <i class="lpSprite lpConsumable lpActive {{consumableClass}} {{^consumable}}hidden{{/consumable}}" title="This item is a consumable and not counted in pack weight."></i>
        <i class="lpSprite lpStar {{starClass}} {{^starClass}}hidden{{/starClass}}" title="This item is starred"></i>
    </span>
    <span class="lpCell lpWeightCell lpNumber">
        <span class="lpWeight">{{displayWeight}}</span>
        {{{unitSelect}}}
    </span>
    <span class="lpCell lpQtyCell lpNumber">
        {{qty}}
    </span>
    <span class="lpCell lpPriceCell lpNumber">
      {{price}}
    </span>
</li>
