<li class="lpLibraryList" list="{{id}}">
    <span class='lpLibraryListSwitch lpListName'>
        {{#name}}
            {{name}}
        {{/name}}
        {{^name}}
            List Name
        {{/name}}
    </span>
    <a class='lpRemove' title="Remove this list"><i class="lpSprite lpSpriteRemove"></i></a>
</li>