<li class="lpLibraryList" list="{{id}}">
    <span class='lpLibraryListSwitch lpListName'>
        {{#name}}
            {{name}}
        {{/name}}
        {{^name}}
            List Name
        {{/name}}
    </span>
    <a class='lpRemove speedbump' title="Remove this list" data-speedbump="removeList"><i class="lpSprite lpSpriteRemove"></i></a>
</li>