{{#optionalFields}}
    <li class="lpOptionalField" data-optional-field="{{name}}">
        <label>
            <input type="checkbox" {{#enabled}}checked{{/enabled}} />
            {{displayName}}
        </label>
    </li>
{{/optionalFields}}