<ul class="lpTotals lpTable lpDataTable">
    <li class="lpRow lpHeader">
        <span class="lpCell"></span>
        <span class="lpCell">
            Category
        </span>
        <span class="lpCell">
            Weight
        </span>
    </li>
    {{#categories}}
        <li class="lpTotalCategory lpRow" id="total_{{id}}" category="{{id}}">
            <span class="lpCell lpLegendCell">
                <span class="lpLegend" style="background-color: {{displayColor}}"></span>
            </span>
            <span class="lpCell">
                {{name}}
            </span>
            <span class="lpCell lpNumber">
                <div class="lpSubtotal"><span class="lpDisplaySubtotal"  mg="{{subtotalWeight}}">{{subtotalWeightDisplay}}</span> <span class="lpSubtotalUnit">{{subtotalUnit}}</span></div>
            </span>
        </li>
    {{/categories}}
    <li class="lpRow lpFooter lpTotal">
        <span class="lpCell"></span>
        <span class="lpCell lpSubtotal" title="{{totalQty}} items">
            Total
        </span>
        <span class="lpCell lpNumber lpSubtotal">
            <span class="lpTotalValue" title="{{totalQty}} items">{{totalWeightDisplay}}</span>
            <span class="lpTotalUnit">{{{totalUnit}}}</span>
        </span>
    </li>
    {{#totalConsumableWeight}}
        <li data-weight-type="consumable" class="lpRow lpFooter lpBreakdown lpConsumableWeight">
            <span class="lpCell"></span>
            <span class="lpCell lpSubtotal">
                Consumable
            </span>
            <span class="lpCell lpNumber lpSubtotal">
                <span class="lpDisplaySubtotal" mg="{{totalConsumableWeight}}">{{totalConsumableWeightDisplay}}</span>
                <span class="lpSubtotalUnit">{{subtotalUnit}}</span>
            </span>
        </li>
    {{/totalConsumableWeight}}
    {{#totalWornWeight}}
        <li data-weight-type="worn" class="lpRow lpFooter lpBreakdown lpWornWeight">
            <span class="lpCell"></span>
            <span class="lpCell lpSubtotal">
                Worn
            </span>
            <span class="lpCell lpNumber lpSubtotal">
                <span class="lpDisplaySubtotal" mg="{{totalWornWeight}}">{{totalWornWeightDisplay}}</span>
                <span class="lpSubtotalUnit">{{subtotalUnit}}</span>
            </span>
        </li>
    {{/totalWornWeight}}
    {{#shouldDisplayPackWeight}}
        <li data-weight-type="base" class="lpRow lpFooter lpBreakdown lpPackWeight">
            <span class="lpCell"></span>
            <span class="lpCell lpSubtotal">
                Base Weight
            </span>
            <span class="lpCell lpNumber lpSubtotal">
                <span class="lpDisplaySubtotal" mg="{{totalPackWeight}}">{{totalPackWeightDisplay}}</span>
                <span class="lpSubtotalUnit">{{subtotalUnit}}</span>
            </span>
        </li>
    {{/shouldDisplayPackWeight}}
</ul>
